<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
     <connectionStrings>  
      <clear/>  
      <add name="xCarrier_Connection" providerName="System.Data.SqlClient" connectionString="MultipleActiveResultSets=True;Data Source=172.24.16.69;Initial Catalog=xCarrier_Prod;User ID=sa;Password=t9h67DY9;pooling=true;Max Pool Size=1500;Min Pool Size=20;timeout=2880"/>  
    </connectionStrings>
	<appSettings>
		<add key="Host" value="sftp2.raben-group.com"/>
		<add key="UserName" value="jenbacher"/>
		<add key="password" value="3rew3RTWd3t4r2wf4#11"/>
		<add key="path" value="/prod/out/"/>
		<add key="Port" value="22"/>
		<add key="SFTP_File_DownLoad_Location" value="D:\RabenTrackFiles3\"/>
		<add key="AfterRead_File_Save_location" value="D:\ProcessWeaver\Raben\RabenProcessed\"/>
	</appSettings>
</configuration>
